<%= form_for :signin, html: { :class => "form-signin", :method => "POST" } do |f| %>
	<h2 class="form-signin-heading">Please sign in</h2>
	<%= f.text_field :email, {:class => 'form-control', :placeholder => 'Email'} %>
	<%= f.password_field :password, {:class => 'form-control', :placeholder => 'Password'} %>
	<%= button_tag 'Sign in', {:class => 'btn btn-lg btn-primary btn-block' } %>
<% end %>