<table class="table table-hover">
  <thead>
    <th>Image</th>
    <th>Product</th>
    <th>Unit price</th>
    <th>Quantity</th>
  </thead>
  <tbody>
  <%= render @order.line_items %>
</tbody>
</table> 