<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Order</h3>
  </div>

<%= render 'form' %>

</div>

<div class="row">
	<div class="col-sm-1 col-sm-offset-1">
		<%= link_to orders_path do %>
			<span class="glyphicon glyphicon-chevron-left"></span>
			Back
		<% end %>
	</div>
	<div class="col-sm-1">
		<%= link_to @order do %>
			<span class="glyphicon glyphicon-pushpin"></span>
			Show
		<% end %>
	</div>
</div>