<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Order</h3>
  </div>

<%= render 'form' %>

</div>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
