<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t '.title' %></h3>
  </div>

	<%= render 'form' %>

	<div class="row">
		<div class="col-sm-offset-1">
			<%= link_to orders_path do %>
				<span class="glyphicon glyphicon-chevron-left"></span>
				<%= t '.back' %>
			<% end %>
		</div>
	</div>

</div>


