<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Listing Products</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        <%= link_to new_product_path, class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-plus"></span>
          New Product  
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to orders_path, class: "btn btn-info" do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          View Orders  
        <% end %>
      </div>
    </div>
    <br/>
    <%= render 'product_filter' %>
    <br/>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stored at</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <%= render @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>